@model User

<h2>Create a user</h2>

@using (Html.BeginForm("InsertUserToDatabase", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input asp-for="UserID" type="hidden" value="" />

    <label asp-for="Firstname" class="control-label">Firstname</label>
    <input type="text" name="Firstname" class="form-control" value="" />

    <label asp-for="Lastname" class="control-label">Lastname</label>
    <input type="text" name="Lastname" class="form-control" value="" />

    <label asp-for="Username" class="control-label">Username</label>
    <input type="text" name="Username" class="form-control" value="" />

    <label asp-for="About" class="control-label">About</label>
    <input type="text" name="About" class="form-control" value="" />

    <label asp-for="Email" class="control-label">Email</label>
    <input type="text" name="Email" class="form-control" value="" />

    <label asp-for="Password" class="control-label">Password</label>
    <input type="text" name="Password" class="form-control" value="" />

    <div class="form-group">
        <label for="">Select a Category</label>
        <select class="form-control" name="CategoryID" value="">
            @foreach (var cat in Model.Categories)
            {
                <option value="@cat.CategoryID">@cat.CategoryID @cat.CategoryName</option>
            }
        </select>
    </div>

    <div class="row">
        <label asp-for="ProfilePicture" class="control-label" style="margin-bottom: 10px">Choose a profile picture for your user!</label>
        <div class="form-group col-md-6">
            <img src="~/ProfilePicture/Noname.jpg" id="preview" />
            <input type="file" class="form-control" name="ProfilePicture" accept="image/*" onchange="previewImage(event)" value="@Model.ProfilePicture" />
        </div>
    </div>

    <input type="submit" value="Create User" class="add-style" style="margin-top: 10px; margin-left: 0" />
}